# Consortium Organisation DOI usage report

With the introduction of Consortium Members, it stopped being possible to easily get a DOI usage report that only includes our partners, as https://stats.datacite.org/ does not allow narrowing by that level of the hierarchy. Thankfully, all the information on the stats website is also available via the API, so we can build our own report.

## Contents

- [Setup](#Setup)
- [Fetch statistics](#Fetch-statistics)
- [Selecting Consortium Organisations](#Selecting-Consortium-Organisations)
- [Final report](#Final-report)
- [Save the results](#Save-the-results)

## Setup

First we import the python modules we'll need:

In [1]:
import httpx
import pandas as pd
import asyncio

We increase the number of rows that Pandas displays, so that we can see all the Consortium Organisations at once when we show the final table (we'll use `DataFrame.head` when we just want to check an intermediate result).

In [2]:
pd.set_option('display.max_rows', 120)

Configure the main parameters for the rest of the notebook. `API_BASE` can be changed to use the test system instead of production; `CONSORTIUM_ID` can be changed to another consortium (lowercase).

In [3]:
API_BASE = "https://api.datacite.org"
# API_BASE = "https://api.test.datacite.org"
CONSORTIUM_ID = "blco"

Configure the HTTP client we'll use: reusing this means we only have to set our options once, and it will also enable some optimisations that we don't need to care about ourselves. Using `AsyncClient` here (instead of plain `Client`) will be useful later when we need to make a large number of similar API calls in parallel, but it means we will need to use `await` each time we make a HTTP request. We need to increase the timeout because DataCite API calls take about 10s to complete, and we reduce the number of simultaneous connections to avoid making too many at once and overloading the service (if we do this we will get blocked to preserve their service!).

In [4]:
client = httpx.AsyncClient(
    timeout=httpx.Timeout(5.0, read=60.0), 
    limits=httpx.Limits(max_keepalive_connections=5, max_connections=10),
)

## Fetch statistics

We can fetch *all* the statistics with a single API call, and use `pandas.json_normalize` to convert the JSON response into a `DataFrame`. The endpoint to use is `/providers/totals`, because the API still refers to Direct Member and Consortium Organisation accounts as "providers". We use `DataFrame.set_index` to use the provider ID as the index column instead of the sequential numbers generated by default.

In [5]:
r = await client.get(f"{API_BASE}/providers/totals")
r.raise_for_status()
totals_data = r.json()
totals = pd.json_normalize(totals_data) \
    .set_index('id')
totals.head()

,title,count,states,temporal.this_month,temporal.this_year,temporal.last_year,temporal.two_years_ago
id,,,,,,,
cern,CERN - European Organization for Nuclear Research,2876193,"[{'id': 'findable', 'title': 'Findable', 'coun...","[{'id': '2021', 'title': '2021', 'count': 2635}]","[{'id': '2021', 'title': '2021', 'count': 5677...","[{'id': '2020', 'title': '2020', 'count': 6554...","[{'id': '2019', 'title': '2019', 'count': 8333..."
figshare,figshare,2334292,"[{'id': 'findable', 'title': 'Findable', 'coun...","[{'id': '2021', 'title': '2021', 'count': 2101}]","[{'id': '2021', 'title': '2021', 'count': 3438...","[{'id': '2020', 'title': '2020', 'count': 4497...","[{'id': '2019', 'title': '2019', 'count': 3862..."
tawj,University of Tartu,1930980,"[{'id': 'findable', 'title': 'Findable', 'coun...","[{'id': '2021', 'title': '2021', 'count': 25605}]","[{'id': '2021', 'title': '2021', 'count': 1218...","[{'id': '2020', 'title': '2020', 'count': 21431}]","[{'id': '2019', 'title': '2019', 'count': 11704}]"
stdp,ETH Zurich,1906730,"[{'id': 'findable', 'title': 'Findable', 'coun...","[{'id': '2021', 'title': '2021', 'count': 485}]","[{'id': '2021', 'title': '2021', 'count': 1195...","[{'id': '2020', 'title': '2020', 'count': 1182...","[{'id': '2019', 'title': '2019', 'count': 1814..."
sage,SAGE Publishing,1793436,"[{'id': 'registered', 'title': 'Registered', '...","[{'id': '2021', 'title': '2021', 'count': 20}]","[{'id': '2021', 'title': '2021', 'count': 81923}]","[{'id': '2020', 'title': '2020', 'count': 12728}]","[{'id': '2019', 'title': '2019', 'count': 13019}]"

Because of the structure of the returned JSON, we need to do a bit of extra work to extract the counts into columns on their own. We do this with `DataFrame.apply`, which runs a function (that we've defined) on each row of the dataset:

In [6]:
def extract_counts(row):
    result = {}
    for st in row.states:
        result[st['id']] = st['count']
    for period in ['this_year', 'last_year', 'two_years_ago']:
        data = row['temporal.' + period][0]
        result['count.' + data['id']] = data['count']
       
    return result

totals = totals[['title', 'count']].join(totals.apply(extract_counts, axis=1, result_type='expand'))
totals.head()

,title,count,findable,registered,count.2021,count.2020,count.2019
id,,,,,,,
cern,CERN - European Organization for Nuclear Research,2876193,2438006.0,438187.0,567784.0,655451.0,833365.0
figshare,figshare,2334292,2197806.0,136486.0,343853.0,449740.0,386275.0
tawj,University of Tartu,1930980,1930964.0,16.0,1218803.0,21431.0,11704.0
stdp,ETH Zurich,1906730,1906664.0,66.0,119565.0,118294.0,181454.0
sage,SAGE Publishing,1793436,333716.0,1459720.0,81923.0,12728.0,13019.0

That's much better! We still have *all* the providers though, so now we need to select only those in our consortium.

## Selecting Consortium Organisations

The COs under a given Consortium Lead are available as part of the Lead's provider record, so we fetch that and extract the JSON response:

In [7]:
r = await client.get(f"{API_BASE}/providers/{CONSORTIUM_ID}")
r.raise_for_status()
provider_data = r.json()

Now we make a Python set containing only the IDs of the Consortium Organisations, and use that to select only the totals we're interested in.

In [8]:
co_ids = {x['id'] for x in provider_data['data']['relationships']['consortiumOrganizations']['data']}
co_totals = totals[totals.index.isin(co_ids)]
co_totals.head()

,title,count,findable,registered,count.2021,count.2020,count.2019
id,,,,,,,
urks,Imperial College London,214857,209547.0,5310.0,1465.0,2813.0,8254.0
mqkk,Archaeology Data Service,87799,87778.0,21.0,4546.0,25822.0,7430.0
lpsw,University of Cambridge,71693,71569.0,124.0,11851.0,15272.0,12456.0
jhwt,Digital Repository of Ireland,54062,54061.0,1.0,2681.0,17495.0,5676.0
duqf,Science and Technology Facilities Council,18750,18746.0,4.0,914.0,2110.0,5796.0

The `/providers/totals` endpoint only returns a row for providers that have at least one DOI, but we also want to see which of our COs have 0 DOIs, so we will need to add these manually; reindexing the dataset with the full list of CO identifiers will add blank rows for these.

In [9]:
co_totals = co_totals.reindex(co_ids)

We only have the IDs for these, so we have to make a separate API call for each to fetch its name. We will use Python's `async` feature to allow us to do many of these in parallel: we build a list of the tasks, and then use `asyncio.gather` to handle actually running them and collecting the results.

In [10]:
async def get_title(org_id, client):
    title = '<deleted>'
    r = await client.get(f"{API_BASE}/providers/{org_id}")
    if r.status_code == httpx.codes.OK:
        data = r.json()
        title = data['data']['attributes']['name']
    return {'id': org_id, 'title': title}

get_title_tasks = [get_title(org_id, client)
                   for org_id
                   in co_totals[co_totals.title.isna()].index]
extra_names = await asyncio.gather(*get_title_tasks)

extra_names = pd.DataFrame(extra_names).set_index('id').title

Now we can update our dataset with these extra names, and finally fill the remaining blank cells with 0 to give our final report.

In [11]:
co_totals['title'].update(extra_names)
co_totals = co_totals.fillna(0)

## Final report

In [12]:
co_totals

,title,count,findable,registered,count.2021,count.2020,count.2019
id,,,,,,,
zzsa,The Open University,7001.0,6916.0,85.0,318.0,6438.0,112.0
cdcx,SOAS University of London,2864.0,2864.0,0.0,161.0,2663.0,0.0
qsdg,University of Edinburgh,4273.0,4269.0,4.0,522.0,1017.0,282.0
urks,Imperial College London,214857.0,209547.0,5310.0,1465.0,2813.0,8254.0
hbvj,University of Aberystwyth,48.0,43.0,5.0,3.0,9.0,15.0
hugz,University of Aberdeen,292.0,291.0,1.0,33.0,104.0,129.0
huwv,Marine Biological Association,2178.0,2170.0,8.0,28.0,70.0,1398.0
tnae,Oxford Brookes University,1318.0,1317.0,1.0,197.0,226.0,209.0
nmku,Lincoln repository,17.0,17.0,0.0,5.0,3.0,9.0
mbye,Sheffield Hallam University,40.0,39.0,1.0,4.0,2.0,9.0
mhqr,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
zfgk,Cefas,209.0,208.0,1.0,13.0,55.0,34.0
kxpn,CAB International,14.0,14.0,0.0,6.0,8.0,0.0
jhah,Loughborough University Research Repository,12339.0,12086.0,253.0,2580.0,2013.0,5922.0
bdeb,Kingston University,0.0,0.0,0.0,0.0,0.0,0.0
zavk,University of Central Lancashire,102.0,102.0,0.0,11.0,32.0,11.0
qumu,University of Birmingham,356.0,354.0,2.0,89.0,79.0,61.0
iuar,Queen Mary University of London,112.0,112.0,0.0,5.0,10.0,3.0
xwpv,Swansea University,38.0,38.0,0.0,38.0,0.0,0.0
ihoc,University of Glasgow,1882.0,1800.0,82.0,596.0,640.0,275.0
lyzl,University of Essex,12998.0,12400.0,598.0,486.0,609.0,822.0
vewy,University of Strathclyde,1291.0,1283.0,8.0,144.0,256.0,254.0
jhwt,Digital Repository of Ireland,54062.0,54061.0,1.0,2681.0,17495.0,5676.0
qxco,University of Dundee,154.0,154.0,0.0,23.0,53.0,29.0
zabn,"Natural History Museum, London",4812.0,4812.0,0.0,971.0,2078.0,1603.0
vavq,The British Library,938.0,833.0,105.0,65.0,73.0,114.0
iobo,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
ooki,University of Sheffield,2264.0,2056.0,208.0,274.0,600.0,293.0
fsdu,"Royal Holloway, University of London",770.0,749.0,21.0,27.0,44.0,50.0
qsee,Royal College of Music,69.0,69.0,0.0,29.0,12.0,28.0
moac,"Birkbeck, University of London",35.0,35.0,0.0,10.0,12.0,3.0
lorp,University of Hertfordshire,841.0,833.0,8.0,54.0,744.0,8.0
jocq,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
sqhd,University of Salford,1838.0,1744.0,94.0,232.0,405.0,786.0
uymd,European Centre for Medium-Range Weather Forec...,1475.0,1453.0,22.0,201.0,112.0,73.0
kpix,Edinburgh Napier University,82.0,77.0,5.0,3.0,63.0,7.0
ueur,London Southbank University,0.0,0.0,0.0,0.0,0.0,0.0
fdnh,Aston University,302.0,302.0,0.0,11.0,19.0,42.0
gfww,Goldsmiths University of London,2006.0,2006.0,0.0,253.0,379.0,920.0
kiai,CREST Consortium,0.0,0.0,0.0,0.0,0.0,0.0
aevn,University of Stirling,0.0,0.0,0.0,0.0,0.0,0.0
lxkc,University of Leeds,962.0,936.0,26.0,90.0,222.0,160.0
lcqr,London School of Economics,547.0,546.0,1.0,86.0,23.0,45.0
yjia,St. George's University of London,196.0,171.0,25.0,41.0,34.0,55.0
isfl,University of Northampton,20.0,20.0,0.0,17.0,3.0,0.0
duqf,Science and Technology Facilities Council,18750.0,18746.0,4.0,914.0,2110.0,5796.0
bzbu,Public Health England,16.0,16.0,0.0,0.0,3.0,12.0
rckq,NERC Environmental Data Service,2891.0,2888.0,3.0,318.0,624.0,445.0
hxhf,University of Southampton,3700.0,3673.0,27.0,260.0,431.0,385.0
jxtg,Queen's University Belfast,218.0,217.0,1.0,18.0,41.0,41.0
eqnn,Cranfield University,1685.0,1544.0,141.0,160.0,416.0,238.0
nebs,National Library of Scotland,53.0,52.0,1.0,28.0,25.0,0.0
ygyi,University of Lancaster,1852.0,1851.0,1.0,283.0,443.0,400.0
ioop,University of Bath,486.0,474.0,12.0,43.0,90.0,84.0
rvth,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
uaik,Keele University,83.0,83.0,0.0,9.0,18.0,20.0
mhki,Royal Veterinary College - University of London,34.0,31.0,3.0,31.0,2.0,1.0
ozgc,Nottingham Trent University,5.0,5.0,0.0,1.0,0.0,4.0
rzyp,University of Essex,136.0,84.0,52.0,20.0,97.0,4.0
pclw,University of Reading,170.0,170.0,0.0,22.0,31.0,34.0
stqr,University College London,797.0,667.0,130.0,248.0,313.0,200.0
upnf,Jisc,0.0,0.0,0.0,0.0,0.0,0.0
xfir,Durham University,315.0,315.0,0.0,29.0,46.0,67.0
eolj,University of Kent,804.0,804.0,0.0,180.0,580.0,23.0
ukev,Robert Gordon University,39.0,39.0,0.0,39.0,0.0,0.0
dmoq,Heriot-Watt University,164.0,161.0,3.0,19.0,25.0,25.0
nahy,University of St Andrews,1396.0,1384.0,12.0,553.0,208.0,199.0
rbhy,Liverpool John Moores University,1666.0,1666.0,0.0,104.0,211.0,341.0
qlbc,Parliamentary Archives,0.0,0.0,0.0,0.0,0.0,0.0
mykg,United Kingdom Atomic Energy Authority,0.0,0.0,0.0,0.0,0.0,0.0
fmlv,Joint Nature Conservation Committee,1.0,1.0,0.0,0.0,0.0,0.0
zttd,Middlesex University,256.0,236.0,20.0,16.0,41.0,91.0
vhfs,University of Bristol,852.0,847.0,5.0,111.0,126.0,162.0
scuu,University of Surrey,842.0,828.0,14.0,7.0,178.0,288.0
fhxi,Rothamsted Research,447.0,447.0,0.0,41.0,18.0,25.0
lnip,Cardiff University,475.0,472.0,3.0,83.0,101.0,76.0
rcnw,De Montfort University,609.0,516.0,93.0,122.0,302.0,182.0
kgxr,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
ainb,International Institute of Tropical Agricultur...,2525.0,2525.0,0.0,38.0,2103.0,229.0
bcmi,Ulster University,56.0,55.0,1.0,35.0,4.0,10.0
fise,University of Huddersfield,11.0,11.0,0.0,3.0,5.0,3.0
lpsw,University of Cambridge,71693.0,71569.0,124.0,11851.0,15272.0,12456.0
puzp,Health Data Research UK,0.0,0.0,0.0,0.0,0.0,0.0
wljs,Clinical Practice Research Datalink,31.0,29.0,2.0,30.0,0.0,0.0
ytfd,BL Repository Services,894.0,886.0,8.0,92.0,764.0,31.0
imws,Bournemouth University,44.0,44.0,0.0,20.0,7.0,17.0
oalm,World Conservation and Monitoring Centre (WCMC),35.0,34.0,1.0,22.0,13.0,0.0
uxvc,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
bcfd,Plymouth University,25.0,25.0,0.0,10.0,6.0,7.0
cwat,Diamond Light Source,0.0,0.0,0.0,0.0,0.0,0.0
ylyl,Oxford University Library Service Databank,16898.0,16894.0,4.0,217.0,227.0,337.0
hcgk,University of Portsmouth,131.0,127.0,4.0,11.0,47.0,43.0
zies,University of Westminster,11.0,11.0,0.0,9.0,2.0,0.0
cmuu,Manchester Metropolitan University,33.0,30.0,3.0,8.0,4.0,4.0
genm,Brunel University London,389.0,333.0,56.0,50.0,94.0,114.0
qwjf,University of Brighton,91.0,90.0,1.0,79.0,4.0,1.0
qono,Abertay University,0.0,0.0,0.0,0.0,0.0,0.0
skmf,University of York,10443.0,10416.0,27.0,46.0,69.0,57.0
frvi,University of Nottingham,1091.0,1028.0,63.0,61.0,73.0,851.0
hcbr,King's College London,119.0,117.0,2.0,23.0,34.0,24.0
znjj,London School of Hygiene & Tropical Medicine,2498.0,2479.0,19.0,272.0,368.0,456.0
gnvs,Marine Institute,41.0,41.0,0.0,10.0,11.0,9.0
mqkk,Archaeology Data Service,87799.0,87778.0,21.0,4546.0,25822.0,7430.0
vuex,University of Exeter,230.0,229.0,1.0,26.0,47.0,84.0
pxwo,University of Liverpool,3947.0,3944.0,3.0,427.0,2044.0,1325.0
hsop,Bath Spa University,2295.0,2278.0,17.0,1932.0,196.0,111.0
htpy,Marine Scotland,297.0,295.0,2.0,24.0,37.0,27.0
bzip,London Southbank University,155.0,155.0,0.0,14.0,9.0,19.0
borq,University of Manchester,469.0,421.0,48.0,237.0,5.0,0.0
wwps,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
siyf,University of Derby,0.0,0.0,0.0,0.0,0.0,0.0
oxdv,University of East London,1235.0,1234.0,1.0,238.0,190.0,128.0

## Save the results

As a final step, we'll export the results as an Excel spreadsheet for use elsewhere:

In [13]:
import datetime as dt

today = dt.datetime.now()
co_totals.to_excel(f'{CONSORTIUM_ID}-totals-{today:%Y%m%d}.xlsx')