# Consortium Organisation DOI usage report

With the introduction of Consortium Members, it stopped being possible to easily get a DOI usage report that only includes our partners, as https://stats.datacite.org/ does not allow narrowing by that level of the hierarchy. Thankfully, all the information on the stats website is also available via the API, so we can build our own report.

## Contents

- [Setup](#Setup)
- [Fetch statistics](#Fetch-statistics)
- [Selecting Consortium Organisations](#Selecting-Consortium-Organisations)
- [Final report](#Final-report)
- [Save the results](#Save-the-results)

## Setup

First we import the python modules we'll need:

In [1]:
import aiohttp
import asyncio
import pandas as pd
import dcrest

We increase the number of rows that Pandas displays, so that we can see all the Consortium Organisations at once when we show the final table (we'll use `DataFrame.head` when we just want to check an intermediate result).

In [2]:
pd.set_option('display.max_rows', 120)

Configure the main parameters for the rest of the notebook. `CONSORTIUM_ID` can be changed to another consortium (lowercase).

In [3]:
CONSORTIUM_ID = "blco"

Create a HTTP client session: reusing this means we only have to set our options once, and it will also enable some optimisations that we don't need to care about ourselves. This is "asynchronous", which will be useful later when we need to make a large number of similar API calls in parallel, but it means we will need to use `await` each time we make an API request. We need to increase the timeout because DataCite API calls take about 10s to complete, and we reduce the number of simultaneous connections to avoid making too many at once and overloading the service (if we do this we will get blocked to preserve their service!).

In [4]:
session = aiohttp.ClientSession()
client = dcrest.DataCiteClient(session, test=False)

## Fetch statistics

We can fetch *all* the statistics with a single API call, and use `pandas.json_normalize` to convert the JSON response into a `DataFrame`. The endpoint to use is `/providers/totals`, because the API still refers to Direct Member and Consortium Organisation accounts as "providers". We use `DataFrame.set_index` to use the provider ID as the index column instead of the sequential numbers generated by default.

In [5]:
totals_data = await client.providers.totals()
totals = pd.json_normalize(totals_data) \
    .set_index('id')
totals.head()

,title,count,states,temporal.this_month,temporal.this_year,temporal.last_year,temporal.two_years_ago
id,,,,,,,
cern,CERN - European Organization for Nuclear Research,3377521,"[{'id': 'findable', 'title': 'Findable', 'coun...","[{'id': '2021', 'title': '2021', 'count': 77622}]","[{'id': '2021', 'title': '2021', 'count': 1065...","[{'id': '2020', 'title': '2020', 'count': 6554...","[{'id': '2019', 'title': '2019', 'count': 8340..."
figshare,figshare,2491795,"[{'id': 'findable', 'title': 'Findable', 'coun...","[{'id': '2021', 'title': '2021', 'count': 30489}]","[{'id': '2021', 'title': '2021', 'count': 5014...","[{'id': '2020', 'title': '2020', 'count': 4497...","[{'id': '2019', 'title': '2019', 'count': 3862..."
tawj,University of Tartu,2388849,"[{'id': 'findable', 'title': 'Findable', 'coun...","[{'id': '2021', 'title': '2021', 'count': 25}]","[{'id': '2021', 'title': '2021', 'count': 1676...","[{'id': '2020', 'title': '2020', 'count': 21431}]","[{'id': '2019', 'title': '2019', 'count': 11704}]"
stdp,ETH Zurich,2004608,"[{'id': 'findable', 'title': 'Findable', 'coun...","[{'id': '2021', 'title': '2021', 'count': 27444}]","[{'id': '2021', 'title': '2021', 'count': 2175...","[{'id': '2020', 'title': '2020', 'count': 1182...","[{'id': '2019', 'title': '2019', 'count': 1814..."
sage,SAGE Publishing,1798917,"[{'id': 'registered', 'title': 'Registered', '...","[{'id': '2021', 'title': '2021', 'count': 1306}]","[{'id': '2021', 'title': '2021', 'count': 87399}]","[{'id': '2020', 'title': '2020', 'count': 12728}]","[{'id': '2019', 'title': '2019', 'count': 13019}]"

Because of the structure of the returned JSON, we need to do a bit of extra work to extract the counts into columns on their own. We do this with `DataFrame.apply`, which runs a function (that we've defined) on each row of the dataset:

In [6]:
def extract_counts(row):
    result = {}
    for st in row.states:
        result[st['id']] = st['count']
    for period in ['this_year', 'last_year', 'two_years_ago']:
        data = row['temporal.' + period][0]
        result['count.' + data['id']] = data['count']
       
    return result

totals = totals[['title', 'count']].join(totals.apply(extract_counts, axis=1, result_type='expand'))
totals.head()

,title,count,findable,registered,count.2021,count.2020,count.2019
id,,,,,,,
cern,CERN - European Organization for Nuclear Research,3377521,2937247.0,440274.0,1065432.0,655475.0,834026.0
figshare,figshare,2491795,2349053.0,142742.0,501475.0,449750.0,386276.0
tawj,University of Tartu,2388849,2388833.0,16.0,1676671.0,21431.0,11704.0
stdp,ETH Zurich,2004608,2004551.0,57.0,217540.0,118294.0,181454.0
sage,SAGE Publishing,1798917,333723.0,1465194.0,87399.0,12728.0,13019.0

That's much better! We still have *all* the providers though, so now we need to select only those in our consortium.

## Selecting Consortium Organisations

The COs under a given Consortium Lead are available as part of the Lead's provider record, so we fetch that and make a Python set containing only the IDs of the Consortium Organisations, and use that to select only the totals we're interested in.

In [7]:
provider_data = await client.providers.get(CONSORTIUM_ID)
co_ids = {x['id'] for x in provider_data.relationships.consortiumOrganizations.data}
co_totals = totals[totals.index.isin(co_ids)]
co_totals.head()

,title,count,findable,registered,count.2021,count.2020,count.2019
id,,,,,,,
urks,Imperial College London,216289,210979.0,5310.0,2898.0,2813.0,8254.0
mqkk,Archaeology Data Service,90057,90036.0,21.0,6804.0,25822.0,7430.0
lpsw,University of Cambridge,76474,76350.0,124.0,16613.0,15278.0,12462.0
jhwt,Digital Repository of Ireland,59526,59525.0,1.0,8144.0,17495.0,5676.0
duqf,Science and Technology Facilities Council,18771,18766.0,5.0,935.0,2110.0,5796.0

The `/providers/totals` endpoint only returns a row for providers that have at least one DOI, but we also want to see which of our COs have 0 DOIs, so we will need to add these manually; reindexing the dataset with the full list of CO identifiers will add blank rows for these.

In [8]:
co_totals = co_totals.reindex(co_ids)

We only have the IDs for these blank rows, so we have to make a separate API call for each to fetch its name. We will use Python's `async` feature to allow us to do many of these in parallel: we build a list of the tasks, and then use `asyncio.gather` to handle actually running them and collecting the results.

In [9]:
async def get_title(org_id, client):
    try:
        data = await client.providers.get(org_id)
        title = data.attributes.name
    except aiohttp.ClientResponseError:
        title = '<deleted>'
        
    return {'id': org_id, 'title': title}

get_title_tasks = [get_title(org_id, client)
                   for org_id
                   in co_totals[co_totals.title.isna()].index]
extra_names = await asyncio.gather(*get_title_tasks)

extra_names = pd.DataFrame(extra_names).set_index('id').title

Now we can update our dataset with these extra names, and finally fill the remaining blank cells with 0 to give our final report.

In [10]:
co_totals['title'].update(extra_names)
co_totals = co_totals.fillna(0)

## Final report

In [11]:
co_totals

,title,count,findable,registered,count.2021,count.2020,count.2019
id,,,,,,,
tnae,Oxford Brookes University,1356.0,1355.0,1.0,237.0,226.0,209.0
urks,Imperial College London,216289.0,210979.0,5310.0,2898.0,2813.0,8254.0
eolj,University of Kent,1269.0,1269.0,0.0,648.0,580.0,23.0
rcnw,De Montfort University,649.0,549.0,100.0,162.0,302.0,182.0
qsee,Royal College of Music,76.0,76.0,0.0,36.0,12.0,28.0
xfir,Durham University,332.0,332.0,0.0,46.0,46.0,67.0
kpix,Edinburgh Napier University,111.0,105.0,6.0,32.0,63.0,7.0
gfww,Goldsmiths University of London,2055.0,2055.0,0.0,281.0,379.0,920.0
aevn,University of Stirling,0.0,0.0,0.0,0.0,0.0,0.0
uymd,European Centre for Medium-Range Weather Forec...,1509.0,1487.0,22.0,235.0,112.0,73.0
ylyl,Oxford University Library Service Databank,16935.0,16931.0,4.0,254.0,227.0,337.0
jhwt,Digital Repository of Ireland,59526.0,59525.0,1.0,8144.0,17495.0,5676.0
zavk,University of Central Lancashire,113.0,113.0,0.0,22.0,32.0,11.0
jocq,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
sqhd,University of Salford,1872.0,1774.0,98.0,266.0,405.0,786.0
bdeb,Kingston University,0.0,0.0,0.0,0.0,0.0,0.0
yjia,St. George's University of London,221.0,195.0,26.0,66.0,34.0,55.0
dmoq,Heriot-Watt University,173.0,169.0,4.0,28.0,25.0,25.0
isfl,University of Northampton,28.0,28.0,0.0,25.0,3.0,0.0
lpsw,University of Cambridge,76474.0,76350.0,124.0,16613.0,15278.0,12462.0
imws,Bournemouth University,61.0,61.0,0.0,37.0,7.0,17.0
fdnh,Aston University,313.0,313.0,0.0,22.0,19.0,42.0
rzyp,University of Essex,140.0,86.0,54.0,23.0,97.0,4.0
ytfd,BL Repository Services,1056.0,1054.0,2.0,254.0,764.0,31.0
lnip,Cardiff University,502.0,499.0,3.0,110.0,101.0,76.0
ueur,London Southbank University,0.0,0.0,0.0,0.0,0.0,0.0
stqr,University College London,939.0,788.0,151.0,382.0,313.0,200.0
mqkk,Archaeology Data Service,90057.0,90036.0,21.0,6804.0,25822.0,7430.0
vhfs,University of Bristol,888.0,883.0,5.0,146.0,126.0,162.0
eqnn,Cranfield University,1759.0,1606.0,153.0,233.0,416.0,238.0
huwv,Marine Biological Association,2207.0,2184.0,23.0,56.0,70.0,1398.0
qxco,University of Dundee,175.0,174.0,1.0,43.0,53.0,29.0
ooki,University of Sheffield,2414.0,2174.0,240.0,422.0,600.0,293.0
gnvs,Marine Institute,42.0,42.0,0.0,11.0,11.0,9.0
qumu,University of Birmingham,378.0,376.0,2.0,111.0,79.0,61.0
rbhy,Liverpool John Moores University,1721.0,1721.0,0.0,158.0,212.0,341.0
hbvj,University of Aberystwyth,49.0,44.0,5.0,4.0,9.0,15.0
oxdv,University of East London,1298.0,1297.0,1.0,301.0,190.0,128.0
ihoc,University of Glasgow,2216.0,2134.0,82.0,930.0,640.0,275.0
qsdg,University of Edinburgh,4806.0,4802.0,4.0,1057.0,1017.0,282.0
jxtg,Queen's University Belfast,225.0,224.0,1.0,25.0,41.0,41.0
bcmi,Ulster University,62.0,61.0,1.0,41.0,4.0,10.0
pxwo,University of Liverpool,4191.0,4185.0,6.0,670.0,2044.0,1325.0
wljs,Clinical Practice Research Datalink,48.0,47.0,1.0,47.0,0.0,0.0
mykg,United Kingdom Atomic Energy Authority,0.0,0.0,0.0,0.0,0.0,0.0
puzp,Health Data Research UK,0.0,0.0,0.0,0.0,0.0,0.0
hcgk,University of Portsmouth,139.0,135.0,4.0,19.0,47.0,43.0
frvi,University of Nottingham,1113.0,1050.0,63.0,83.0,73.0,851.0
siyf,University of Derby,0.0,0.0,0.0,0.0,0.0,0.0
uxvc,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
duqf,Science and Technology Facilities Council,18771.0,18766.0,5.0,935.0,2110.0,5796.0
nahy,University of St Andrews,1479.0,1466.0,13.0,636.0,208.0,199.0
bzbu,Public Health England,16.0,16.0,0.0,0.0,3.0,12.0
vewy,University of Strathclyde,5824.0,5807.0,17.0,4676.0,256.0,254.0
cdcx,SOAS University of London,2896.0,2896.0,0.0,193.0,2663.0,0.0
genm,Brunel University London,411.0,352.0,59.0,72.0,94.0,114.0
moac,"Birkbeck, University of London",40.0,40.0,0.0,15.0,12.0,3.0
rckq,NERC Environmental Data Service,3091.0,3088.0,3.0,516.0,624.0,446.0
vuex,University of Exeter,242.0,241.0,1.0,38.0,47.0,84.0
scuu,University of Surrey,988.0,974.0,14.0,153.0,178.0,288.0
kgxr,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
kxpn,CAB International,15.0,15.0,0.0,7.0,8.0,0.0
cmuu,Manchester Metropolitan University,45.0,42.0,3.0,20.0,4.0,4.0
nebs,National Library of Scotland,57.0,55.0,2.0,32.0,25.0,0.0
rvth,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
ygyi,University of Lancaster,1979.0,1978.0,1.0,411.0,443.0,400.0
mhki,Royal Veterinary College - University of London,36.0,33.0,3.0,33.0,2.0,1.0
uaik,Keele University,100.0,100.0,0.0,26.0,18.0,20.0
xwpv,Swansea University,38.0,38.0,0.0,38.0,0.0,0.0
borq,University of Manchester,603.0,534.0,69.0,371.0,5.0,0.0
lorp,University of Hertfordshire,858.0,849.0,9.0,71.0,744.0,8.0
iobo,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
fise,University of Huddersfield,14.0,14.0,0.0,6.0,5.0,3.0
ozgc,Nottingham Trent University,5.0,5.0,0.0,1.0,0.0,4.0
qono,Abertay University,0.0,0.0,0.0,0.0,0.0,0.0
hcbr,King's College London,162.0,146.0,16.0,66.0,34.0,24.0
fhxi,Rothamsted Research,456.0,456.0,0.0,50.0,18.0,25.0
zfgk,Cefas,211.0,210.0,1.0,15.0,55.0,34.0
fsdu,"Royal Holloway, University of London",778.0,753.0,25.0,35.0,44.0,50.0
jhah,Loughborough University Research Repository,12691.0,12396.0,295.0,2928.0,2013.0,5922.0
oalm,World Conservation and Monitoring Centre (WCMC),120.0,119.0,1.0,106.0,14.0,0.0
zies,University of Westminster,19.0,19.0,0.0,17.0,2.0,0.0
ukev,Robert Gordon University,56.0,56.0,0.0,56.0,0.0,0.0
lcqr,London School of Economics,572.0,571.0,1.0,111.0,23.0,45.0
vavq,The British Library,972.0,867.0,105.0,99.0,73.0,114.0
upnf,Jisc,0.0,0.0,0.0,0.0,0.0,0.0
htpy,Marine Scotland,308.0,306.0,2.0,35.0,37.0,27.0
hxhf,University of Southampton,3852.0,3819.0,33.0,412.0,431.0,385.0
qlbc,Parliamentary Archives,0.0,0.0,0.0,0.0,0.0,0.0
znjj,London School of Hygiene & Tropical Medicine,2601.0,2576.0,25.0,374.0,368.0,456.0
lyzl,University of Essex,13294.0,12652.0,642.0,782.0,609.0,822.0
hsop,Bath Spa University,2336.0,2317.0,19.0,1973.0,196.0,111.0
skmf,University of York,10481.0,10437.0,44.0,83.0,69.0,57.0
mhqr,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
pclw,University of Reading,558.0,549.0,9.0,409.0,31.0,34.0
ioop,University of Bath,512.0,500.0,12.0,69.0,90.0,84.0
bzip,London Southbank University,163.0,163.0,0.0,22.0,9.0,19.0
qwjf,University of Brighton,94.0,93.0,1.0,81.0,4.0,1.0
zttd,Middlesex University,270.0,249.0,21.0,30.0,41.0,91.0
zabn,"Natural History Museum, London",5449.0,5449.0,0.0,1608.0,2078.0,1603.0
bcfd,Plymouth University,25.0,25.0,0.0,10.0,6.0,7.0
mbye,Sheffield Hallam University,47.0,46.0,1.0,11.0,2.0,9.0
kiai,CREST Consortium,0.0,0.0,0.0,0.0,0.0,0.0
iuar,Queen Mary University of London,112.0,112.0,0.0,5.0,10.0,3.0
cwat,Diamond Light Source,0.0,0.0,0.0,0.0,0.0,0.0
lxkc,University of Leeds,998.0,972.0,26.0,126.0,222.0,160.0
ainb,International Institute of Tropical Agricultur...,2634.0,2634.0,0.0,144.0,2103.0,229.0
nmku,Lincoln repository,18.0,18.0,0.0,6.0,3.0,9.0
wwps,<deleted>,0.0,0.0,0.0,0.0,0.0,0.0
zzsa,The Open University,7142.0,7060.0,82.0,458.0,6438.0,112.0
fmlv,Joint Nature Conservation Committee,1.0,1.0,0.0,0.0,0.0,0.0
hugz,University of Aberdeen,346.0,345.0,1.0,87.0,104.0,129.0

## Save the results

As a final step, we'll export the results as an Excel spreadsheet for use elsewhere:

In [12]:
import datetime as dt

today = dt.datetime.now()
co_totals.to_excel(f'{CONSORTIUM_ID}-totals-{today:%Y%m%d}.xlsx')